 <!--File name: about.ejs - Name: Johan Lema - Student ID: 301216096 - Date: June 5th, 2022-->

<!--Html file to create and manage about page-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="Content/app.css" type="text/css"></head>
<body class="winter">
    
    <!--div to set up my information-->
        <div id="aboutPage">
        <fieldset>
            <p for="name">Name: <b>Johan</b></p>
            <p for="lname">Last name: <b>Lema</b></p>
            <p for="dateBirth">Date of Birth: <b>'May 13, 2002'</b></p>
            <p for="program">Program: <b>Software Engineering Technician</b></p>
            <p for="years">Years: <b>20</b></p>   
            <p for="intro"><b>Introduction</b></p>
            <p>Hello everyone, my full name is Johan Fernando Lema Farinango, I am from Ecuador, and I am 20 years old. This year I moved to Canada in order to complete my Software Engineering Technician program. I hope to meet you all in person someday. </p>
            <img id="myself" src="Assets/Images/johan.jpeg" alt="myself">
    <!--href to link my pdf resume-->
            <a href="Assets/Documents/JohanLemaResume.pdf" target="_blank"><button type="button" class="btn btn-outline-info">Resume</button></a>
        </fieldset>      
       </div>
</body>
</html>

