<!--File name: home.ejs - Name: Johan Lema - Student ID: 301216096 - Date: June 5th, 2022-->
 
<!--Html file to create and manage Home page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="Content/app.css" type="text/css"></head>
</head>
<body>

    <!--div with a class to create a border in the home page-->
    <div id="intro" class="border border-dark border border-4">
    <main>    
    <h1>Johan Fernando Lema Farinango</h1>
    <p id="phrase">Welcome you all, this is my Express Portfolio ussing Express JS. In this Assignment 1 you will find my info, how you can contact me, my services and my projects. Some of them are projects I already completed, others are projects I am trying to achieve. I am sure you will enjoy this web site.<br> :)</p>
    <a href="/about"><button type="button" class="btn btn-outline-success rounded-pill">About Me</button></a>
    </main>
    </div>
</body>
</html>