<!--File name: projects.ejs - Name: Johan Lema - Student ID: 301216096 - Date: June 5th, 2022-->

<!--Html file to create and manages project page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="Content/app.css" type="text/css"></head>
<body class="winter">
    <main>

    <!--div to set up my projects page-->
   
    <div id="servicesPage">
        <h3>Building a shelter for street-dogs</h3>
        <img src="Assets/Images/shelter.jpg" alt="shelter">
        <h3>Get all my studies done</h3>
        <img src="Assets/Images/graduation.jpg" alt="student">
        <h3>I learned to cook before moving to Canada</h3>
        <img src="Assets/Images/cooking.jpg" alt="cooking">
        <h3>Learning french online</h3>
        <img src="Assets/Images/french.jpg" alt="french">
    </div>

    <!--table to write a short description about each project I made-->
      <table>
          <tr>
              <td><p>Since I was a child I have had love for the animals specially for stray dogs due to they do not have a place to sleep, a dish with food and what is most important someone to spread their love. That is why, I started to build a shelter for these dogs. Nowadays, I have around 6 rescued dogs which now have a place to stay, food, and someone who loves them.</p></td>
          </tr>
          <tr>
              <td class="second"><p>Nowadays, I am enrolled in software engineering technician program, my goal is finish this course and learn every single thing about each class I have. </p></td>
          </tr>
          <tr>
            <td class="third"><p>Before I moved to Canada, I learned to cook because as in Canada I would be alone no one was going to take care of my food. Thus, I learned how to prepare different meals watching videos on youtube, reading books, and asking people.</p></td>
        </tr>
        <tr>
          <td class="fourth"><p>I am studying french through a french course online. This language is amazing. One problem I have is the pronunciation, but I think with time and experience learning this new language all of the words and phrases I am learning nowadays will be easier to speak and understand.</p></td>
      </tr>
      </table>
    </main>
</body>
</html>