<!--File name: services.ejs - Name: Johan Lema - Student ID: 301216096 - Date: June 5th, 2022-->

<!--Html file to create and manage services page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Services</title>
    <link rel="stylesheet" href="Content/app.css" type="text/css"></head>
</head>
<body class="winter">
    <main>

    <!--div to set up my services page-->

    <div id="servicesPage">
    <h3>Database Administrator</h3>
    <img class="photo" src="Assets/Images/database_admin.jpg" alt="admin">
    <h3>Computer Programmer</h3>
    <img class="photo" src="Assets/Images/programming.jpg" alt="programmer">
    <h3>System Analyst</h3>
    <img class="photo" src="Assets/Images/analyst.jpg" alt="system">
    <h3>Artificial Intelligence</h3>
    <img class="photo" src="Assets/Images/artificial.jpg" alt="intelligence">
    </div>

    <!--table to write a description about my services-->
        <table>
            <tr>
                <td><p>Database administrators and architects create or organize systems to store and secure a variety of data, such as financial information and customer shipping records. They also make sure that the data are available to authorized users.</p></td>
            </tr>
            <tr>
                <td class="second"><p>Programmers write code for computer programs and mobile applications. They also are involved in maintaining, debugging and troubleshooting systems and software to ensure that everything is running smoothly.Programming skills are essential for many technology disciplines, but are in especially high demand for software and web development roles.</p></td>
            </tr>
            <tr>
                <td class="third"><p>A systems analyst is a person who uses analysis and design techniques to solve business problems using information technology. Systems analysts may serve as change agents who identify the organizational improvements needed, design systems to implement those changes, and train and motivate others to use the systems.</p></td>
            </tr>
            <tr>
                <td class="fourth"><p>An artificial intelligence engineer is an individual who works with traditional machine learning techniques like natural language processing and neural networks to build models that power AI–based applications. </p></td>
            </tr>
        </table>
        </main>
</body>
</html>
