 <!--File name: script.ejs - Name: Johan Lema - Student ID: 301216096 - Date: June 5th, 2022-->
 
 <!--JavaScript goes HERE-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
